@import '../../pages/variables.less';

.ModalContent {
    margin-top: 1.625rem;

    p {
        color: @small-text-color;
    }

    .btn {
        color: #3f8cff;
        margin-top: 1rem;
        .button{
            outline: none;
            border: none;
            background-color: #fff;
        }
    }
}