@import '../../variables.less';


.nearList {
    box-sizing: border-box;

    .goBack {
        color: @primary-color;
        font-size: @font-size-small;

        img {
            vertical-align: baseline;
        }
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        p {
            color: @Text-description;
            font-size: @font-size-big;
        }

        button {
            background-color: @primary-color;
            color: #fff;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
        }
    }

    .list {
        // padding: 0.2rem 0.8rem; 
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .item {
            width: 49%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fff;
            border-radius: @border-size;
            padding: 0.8rem;
            margin-bottom: 1rem;

            .task {
                border-left: 3px solid @primary-color;
                padding-left: 0.8rem;

                .content,
                .data {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 0.5rem;
                }

                .data {
                    padding-bottom: 0rem;
                }

                .date {
                    color: @small-text-color;
                    font-size: 0.6rem;
                }
            }
        }
    }

}