.calendar {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    :global {
        .title {
            width: 100%;
            height: 50px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .text {
                font-size: 30px;
                font-weight: 500;
                letter-spacing: 0px;
                color: rgba(10, 22, 41, 1);
            }

            .button {
                width: 133px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 14px;
                background: rgba(63, 140, 255, 1);
                box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.26);

                .icon {
                    margin-right: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    color: rgba(255, 255, 255, 1);
                }

                .add {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        .main {
            flex: 1;
            overflow: hidden;
        }

        .events {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .events .ant-badge-status {
            width: 100%;
            overflow: hidden;
            font-size: 12px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .notes-month {
            font-size: 28px;
            text-align: center;
        }

        .notes-month section {
            font-size: 28px;
        }
    }
}