@import './variables.less';

.index {
  background-color: @bg-color;
}

.title {
  background-color: @bg-color;
  font-size: @font-size-big;
  font-family: @font-family-sans-serif;
}

.a {
  color: @primary-color;
  font-size: @font-size-big;
}

.selected {
  color: @primary-color;
}