// 颜色
@primary-color: rgba(63, 140, 255, 1); //  蓝色字体颜色
@small-text-color: rgba(145, 146, 158, 1); //文本加路由颜色 
@Text-description: rgba(10, 22, 41, 1); //文本描述颜色
@title-color: rgba(10, 22, 41, 1); // 标题颜色
@bg-color: rgba(243, 249, 253, 1); // 项目主题的背景颜色

// 弧度
@border-size: 1.25rem;

// 字体
@font-face{
    font-family: 'pingFangSC-Regular';
    src: url('../assets/font/pingFangSC-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-family-sans-serif: pingFangSC-Regular, sans-serif;
@font-size-big: 1.375rem; // 大标题
@font-size-medium: 1rem; //中标题  
@font-size-small: 0.875rem; //小标题
