@import '../pages/variables.less';

.emTop {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: @font-family-sans-serif;

    .employee {
        .text {
            font-size: @font-size-big;
            color: @title-color;
        }

        .num {
            font-size: @font-size-big;
            color: @title-color;
        }
    }

    .emTab {
        width: 16rem;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        background-color: #E6EDF5;
        border-radius: 1.25rem;

        div {
            width: 50%;
            height: 100%;
            text-align: center;
            line-height: 2rem;
            color: @Text-description;
            background-color: #E6EDF5;
            border-radius: 1.25rem;
        }

        .emListActive {
            color: #fff;
            background-color: @primary-color;
        }
    }

    .emIcon {
        width: 11.875rem;
        height: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.emBox {
    // overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 50px);

    .emItem {
        margin-top: 0.625rem;
        height: 5.625rem;
        background-color: #fff;
        border-radius: 0.625rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: @font-family-sans-serif;

        .emName {
            .top {
                font-size: @font-size-small;
                font-weight: 600;
            }

            .bottom {
                padding-top: 0.375rem;
                font-size: @font-size-small;
                color: @small-text-color;
            }
        }

        .emSex {
            .top {
                font-size: @font-size-small;
                color: @small-text-color;
            }

            .bottom {
                padding-top: 0.375rem;
                font-size: @font-size-small;
                font-weight: 600;
            }
        }

        .emDate {
            .top {
                font-size: @font-size-small;
                color: @small-text-color;
            }

            .bottom {
                padding-top: 0.375rem;
                font-size: @font-size-small;
                font-weight: 600;
            }
        }

        .emAge {
            .top {
                font-size: @font-size-small;
                color: @small-text-color;
            }

            .bottom {
                padding-top: 0.375rem;
                font-size: @font-size-small;
                font-weight: 600;
            }
        }

        .emPosition {
            .top {
                font-size: @font-size-small;
                color: @small-text-color;
            }

            .bottom {
                padding-top: 0.375rem;
                font-size: @font-size-small;
                font-weight: 600;
            }
        }

        .emGrade {
            padding: 0 0.625rem;
            color: @small-text-color;
            font-size: 0.75rem;
            border: 0.0625rem solid #ccc;
            border-radius: 0.3125rem;
        }

        .emDian {
            background-color: #F4F9FD;
        }
    }



    .typeBox {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        .typeItem {
            margin-top: 0.625rem;
            margin-left: 1.75rem;
            margin-right: 1.75rem;
            width: 16rem;
            height: 18rem;
            background-color: #fff;
            border-radius: 0.7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-family: @font-family-sans-serif;

            .top {
                width: 15rem;
                height: 10rem;
                background-color: #F4F9FD;
                border-radius: 0.7rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: black;

                .vator {
                    padding-top: 0.625rem;
                }

                .grade {
                    padding: 0 0.625rem;
                    color: @small-text-color;
                    font-size: 0.75rem;
                    border: 0.0625rem solid #ccc;
                    border-radius: 0.3125rem;
                }
            }
            .top1{
                width: 15rem;
                height: 10rem;
                background-color: #fef7e5;
                border-radius: 0.7rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: black;

                .vator {
                    padding-top: 0.625rem;
                }

                .grade {
                    padding: 0 0.625rem;
                    color: @small-text-color;
                    font-size: 0.75rem;
                    border: 0.0625rem solid #ccc;
                    border-radius: 0.3125rem;
                }
            }

            .typeBottom {
                width: 15rem;
                height: 6.75rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: #fff;

                .typeItem1 {
                    width: 4.4rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    .typeTop {
                        width: 1.625rem;
                        height: 1.625rem;
                        font-size: 1.125rem;
                        text-align: center;
                    }

                    .typeBottom {
                        width: 3.48rem;
                        height: 2.5rem;
                        text-align: center;
                        margin-top: -0.625rem;
                        font-size: @font-size-small;
                        color: #91929E;
                    }
                }
            }
        }
    }
}