.message {
    .back {
        color: #418dff;
    }

    .top {
        display: flex;
        justify-content: space-between;

        .title {
            width: 343px;
            height: 53px;
            font-weight: 900;
            text-align: center;
            line-height: 53px;
            font-size: 35px;

            &:hover {
                border-bottom: 3px solid blue;
            }
        }

        .add {
            width: 149px;
            height: 48px;
            background-color: #418dff;
            border: none;
            border-radius: 20px;
            color: white;
        }
    }

    .con {
        display: flex;

        .left {
            width: 265px;
            height: 800px;
            border-radius: 30px;
            background-color: white;
            margin-right: 30px;

            .tit {
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                border-bottom: 1px solid #ccc;

                .tit-rig {
                    width: 44px;
                    height: 44px;
                    background-color: #418dff;
                    color: white;
                    border-radius: 15px;
                    text-align: center;
                    line-height: 44px;
                }
            }

            .item {
                padding: 0 20px;
                height: 80px;

                .item-top {
                    font-size: 24px;
                }

                .item-bot {
                    color: #91929E;
                }
            }
        }

        .right {
            width: calc(100vw - 500px);

            .rig-top {
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .rig-t-lef {
                    width: 132px;
                    font-size: 22px;
                }

                .rig-t-rig {
                    width: 150px;
                    display: flex;

                    .rig-ico {
                        width: 48px;
                        height: 48px;
                        text-align: center;
                        line-height: 48px;
                        background-color: white;
                        margin-right: 30px;
                        border-radius: 15px;
                    }

                    .rig-fen {
                        width: 83px;
                        height: 48px;
                        text-align: center;
                        line-height: 48px;
                        background-color: white;
                        border-radius: 15px;
                    }
                }
            }

            .rig-bot {
                // width: 855px;
                height: 727px;
                background-color: white;
                border-radius: 20px;
                padding: 20px;

                .item {
                    .item-tit {
                        font-size: 18px;
                        margin: 20px 0;
                        font-weight: 900;
                    }

                    .item-con {
                        text-overflow: -o-ellipsis-lastline;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}