.website {
    .top {
        display: flex;
        justify-content: space-between;

        .title {
            width: 144px;
            height: 53px;
            font-weight: 900;
            text-align: center;
            line-height: 53px;
            font-size: 35px;

            &:hover {
                border-bottom: 3px solid blue;
            }
        }

        .add {
            width: 149px;
            height: 48px;
            background-color: #418dff;
            border: none;
            border-radius: 20px;
            color: white;
        }
    }

    .con {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .left {
            width:80%;
            height: 186px;
            background-color: white;
            border-radius: 30px;
            padding:20px;
            display: flex;
            justify-content: space-between;
            .left-lef{
                h4{
                    font-size: 22px;
                    margin: 20px 0;
                }
                .tit{
                    font-size: 16px;
                }
            }
        }

        .right {
            width: 265px;
            height: 186px;
            background-color: white;
            border-radius: 30px;
            padding: 30px;
            .tit{
                font-size: 14px;
                color: #9c9da7;
            }
            .h3{
                font-size: 50px;
            }
            .green{
                color: #0AC947;
            }
            .pro{
                font-size: 12px;
                color: #9c9da7;
            }
        }
    }

    .bottom {
        display: flex;
        flex: 1;
        .item {
            margin: 20px;
            width: 265px;
            height: 186px;
            background-color: white;
            border-radius: 30px;
            padding: 30px;
            .tit{
                font-size: 18px;
                margin: 20px 0 ;
            }
            .page{
                font-size: 14px;
                color: #9c9da7;
            }
        }
    }
}