@import '../variables.less';

.login {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    background: rgba(244, 249, 253, 1);

    :global {
        .main {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 24px;
            box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.1);
            display: flex;
        }

        .left {
            width: 50%;
            height: 100%;
            padding: 40px;
            background-color: @primary-color;
            position: relative;
            display: flex;
            flex-direction: column;

            .top {
                width: 100%;
                display: flex;
                align-items: center;

                .log {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    color: @primary-color;
                    border-radius: 12px;
                    background-color: #ffffff;
                }

                .title {
                    margin-left: 20px;
                    font-size: 30px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    color: #ffffff;
                }
            }

            .message {
                width: 409px;
                height: 112px;
                margin-top: 20px;
                font-size: 36px;
                font-weight: 400;
                letter-spacing: 0px;
                line-height: 56px;
                color: #ffffff;
            }

            .image {
                width: auto;
                height: auto;
                position: absolute;
                left: 30px;
                bottom: 50px;

                img {
                    width: 460px;
                    opacity: 0.92;
                }
            }
        }

        .right {
            width: 50%;
            height: 100%;
            background: rgba(244, 249, 253, 1);
            position: relative;

            .loginform {
                width: 403px;
                position: absolute;
                left: 50%;
                top: 10%;
                transform: translate(-50%, 0);
                display: flex;
                flex-direction: column;
                align-items: center;

                .title {
                    margin-bottom: 20px;
                    font-size: 22px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    line-height: 31.86px;
                    color: rgba(10, 22, 41, 1);
                    text-align: center;
                }

                .email,
                .password {
                    width: 100%;
                    margin-bottom: 20px;

                    .name {
                        width: 36px;
                        height: 24px;
                        margin-bottom: 10px;
                        opacity: 1;

                        span {
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            line-height: 24px;
                            color: rgba(125, 133, 146, 1);
                            text-align: left;
                        }
                    }

                    .input {
                        width: 100%;

                        input {
                            width: 100%;
                            height: 50px;
                            padding: 0 16px;
                            opacity: 1;
                            border-radius: 14px;
                            outline: none;
                            background: rgba(255, 255, 255, 1);
                            border: 1px solid rgba(216, 224, 240, 1);
                            box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);
                        }
                    }
                }

                .isme {
                    width: 100%;
                    height: 30px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;

                    .me-left {
                        .text {
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            color: rgba(125, 133, 146, 1);
                        }
                    }

                    .me-right {
                        height: 30px;
                        display: flex;
                        align-items: center;

                        span {
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            color: rgba(125, 133, 146, 1);
                        }
                    }
                }

                .login {
                    width: 170px;
                    height: 48px;
                    margin-bottom: 10px;
                    line-height: 48px;
                    text-align: center;
                    opacity: 1;
                    border-radius: 14px;
                    background: @primary-color;
                    box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.26);
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    color: rgba(255, 255, 255, 1);
                }

                .goregister {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    color: @primary-color;

                    span {
                        text-decoration-line: underline;
                    }
                }
            }
        }
    }
}