@import '../variables.less';

.register {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    background: rgba(244, 249, 253, 1);

    :global {
        .main {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
        }

        .left {
            width: 24%;
            height: 100%;
            padding: 40px;
            border-radius: 24px;
            background-color: @primary-color;
            display: flex;
            flex-direction: column;

            .top {
                width: 100%;

                .log {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    color: @primary-color;
                    border-radius: 12px;
                    background-color: #ffffff;
                }
            }

            .start {
                width: 100%;
                height: 50px;
                margin: 30px 0px;
                font-size: 36px;
                font-weight: 400;
                letter-spacing: 0px;
                line-height: 50px;
                color: #ffffff;
            }

            .flow {
                width: 100%;

                .list {
                    width: 100%;

                    .item {
                        width: 100%;
                        height: 30px;
                        display: flex;
                        align-items: center;

                        .circle {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            line-height: 20px;
                            text-align: center;
                            color: transparent;
                            border-radius: 50%;
                            border: 2px solid rgba(255, 255, 255, 0.5);
                        }

                        .line {
                            display: inline-block;
                            margin: 11px;
                            width: 2px;
                            height: 24px;
                            border-radius: 2px;
                            background-color: rgba(255, 255, 255, 0.5);
                        }

                        .text {
                            margin-left: 10px;
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            color: rgba(255, 255, 255, 0.5);
                        }
                    }

                }

                .active {

                    .item {

                        .circle {
                            color: transparent;
                            border: 2px solid rgba(255, 255, 255, 1);
                            background-color: rgba(255, 255, 255, 0.5);
                        }

                        .line {
                            background-color: rgba(255, 255, 255, 1);
                        }

                        .text {
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }

                .bctive {

                    .item {

                        .circle {
                            color: @primary-color;
                            border: 2px solid rgba(255, 255, 255, 1);
                            background-color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }

        .right {
            width: 74%;
            height: 100%;
            border-radius: 24px;
            overflow: hidden;
            background-color: #ffffff;

            // 注册第一页
            .content1 {
                width: 100%;
                height: 100%;
                display: flex;
                // display: none;
                flex-direction: column;

                main {
                    flex: 1;
                    position: relative;

                    .form {
                        width: 403px;
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(-50%, 0);
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .title {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .page {
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 20.27px;
                                color: rgba(63, 140, 255, 1);
                            }

                            .tit {
                                font-size: 22px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 31.86px;
                                color: rgba(10, 22, 41, 1);
                            }
                        }

                        .tel {
                            width: 100%;
                            height: 74px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .name {
                                padding: 0 0 0 10px;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 24px;
                                color: rgba(125, 133, 146, 1);
                            }

                            .inp {
                                width: 100%;
                                height: 40px;
                                display: flex;
                                justify-content: space-between;

                                .inp-left {
                                    width: 74px;
                                    height: 100%;
                                    border-radius: 14px;
                                    background: rgba(255, 255, 255, 1);
                                    border: 1px solid rgba(216, 224, 240, 1);
                                    box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    select {
                                        border: none;
                                        outline: none;
                                        font-size: 14px;
                                        font-weight: 400;
                                        letter-spacing: 0px;
                                        color: rgba(125, 133, 146, 1);
                                    }
                                }

                                .inp-right {
                                    width: 313px;
                                    height: 100%;
                                    padding: 0 16px;
                                    border-radius: 14px;
                                    background: rgba(255, 255, 255, 1);
                                    border: 1px solid rgba(216, 224, 240, 1);
                                    box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    input {
                                        border: none;
                                        outline: none;
                                    }

                                    .span_f {
                                        font-size: 14px;
                                        font-weight: 400;
                                        letter-spacing: 0px;
                                        color: rgba(63, 140, 255, 1);
                                    }

                                    .span_t {
                                        font-size: 14px;
                                        font-weight: 400;
                                        letter-spacing: 0px;
                                        color: rgba(125, 133, 146, 1);
                                    }
                                }
                            }
                        }

                        .code {
                            width: 100%;
                            height: 74px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .name {
                                padding: 0 0 0 10px;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 24px;
                                color: rgba(125, 133, 146, 1);
                            }

                            .number {
                                height: 40px;
                                display: flex;

                                input {
                                    width: 48px;
                                    height: 100%;
                                    margin-right: 20px;
                                    border-radius: 14px;
                                    outline: none;
                                    text-align: center;
                                    background: rgba(255, 255, 255, 1);
                                    border: 1px solid rgba(216, 224, 240, 1);
                                    box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);
                                }
                            }
                        }

                        .msg {
                            width: 100%;
                            margin-top: 10px;
                            padding: 10px 20px;
                            border-radius: 14px;
                            background: rgba(244, 249, 253, 1);
                            display: flex;

                            .icon {
                                width: 22px;
                                height: 22px;
                                line-height: 22px;
                                text-align: center;
                                font-size: 16px;
                                font-weight: bold;
                                color: #ffffff;
                                border-radius: 50%;
                                background-color: rgba(63, 140, 255, 1);
                            }

                            .time {
                                flex: 1;
                                margin-left: 10px;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 22px;
                                color: rgba(63, 140, 255, 1);
                                text-align: left;
                                vertical-align: top;
                            }
                        }

                        .email,
                        .password {
                            width: 100%;
                            height: 74px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .name {
                                padding: 0 0 0 10px;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 24px;
                                color: rgba(125, 133, 146, 1);
                            }

                            input {
                                width: 100%;
                                height: 40px;
                                padding: 0 16px;
                                border-radius: 14px;
                                outline: none;
                                background: rgba(255, 255, 255, 1);
                                border: 1px solid rgba(216, 224, 240, 1);
                                box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);
                            }
                        }
                    }
                }

                footer {
                    width: 100%;
                    height: 70px;
                    border-top: 1px solid rgba(228, 230, 232, 1);
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .btn {
                        display: inline-block;
                        margin-right: 20px;
                        width: 160px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        border-radius: 14px;
                        background: rgba(63, 140, 255, 1);
                        box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.26);

                        span {
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }

            // 注册第二页
            .content2 {
                width: 100%;
                height: 100%;
                // display: flex;
                display: none;
                flex-direction: column;

                main {
                    flex: 1;
                    position: relative;

                    .form {
                        width: 403px;
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(-50%, 0);
                        display: flex;
                        flex-direction: column;

                        .title {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .page {
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 20.27px;
                                color: rgba(63, 140, 255, 1);
                            }

                            .tit {
                                font-size: 22px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 31.86px;
                                color: rgba(10, 22, 41, 1);
                            }
                        }

                        .whyUse,
                        .describe {
                            width: 100%;
                            height: 74px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .name {
                                padding: 0 0 0 10px;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 24px;
                                color: rgba(125, 133, 146, 1);
                            }

                            .select {
                                width: 100%;
                                height: 40px;
                                padding: 0 16px;
                                border-radius: 14px;
                                background: rgba(255, 255, 255, 1);
                                border: 1px solid rgba(216, 224, 240, 1);
                                box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);

                                select {
                                    width: 100%;
                                    height: 100%;
                                    border: none;
                                    outline: none;
                                    color: rgba(125, 133, 146, 1);
                                }
                            }
                        }

                        .describe2 {
                            width: 100%;
                            margin-top: 10px;
                            padding: 0 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .name {
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 24px;
                                color: rgba(125, 133, 146, 1);
                            }
                        }
                    }
                }

                footer {
                    width: 100%;
                    height: 70px;
                    padding: 0 20px;
                    border-top: 1px solid rgba(228, 230, 232, 1);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .goback {
                        display: inline-block;
                        width: 132px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        border-radius: 14px;
                        background: rgba(255, 255, 255, 0);
                        box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.1);

                        span {
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0px;
                            color: rgba(63, 140, 255, 1);
                        }

                        .zuo {
                            margin-right: 10px;
                        }
                    }

                    .btn {
                        display: inline-block;
                        width: 160px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        border-radius: 14px;
                        background: rgba(63, 140, 255, 1);
                        box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.26);

                        span {
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }

            // 注册第三页
            .content3 {
                width: 100%;
                height: 100%;
                // display: flex;
                display: none;
                flex-direction: column;

                main {
                    flex: 1;
                    position: relative;

                    .form {
                        width: 403px;
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(-50%, 0);
                        display: flex;
                        flex-direction: column;

                        .title {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .page {
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 20.27px;
                                color: rgba(63, 140, 255, 1);
                            }

                            .tit {
                                font-size: 22px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 31.86px;
                                color: rgba(10, 22, 41, 1);
                            }
                        }

                        .corporation {
                            width: 100%;
                            height: 74px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .name {
                                padding: 0 0 0 10px;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 24px;
                                color: rgba(125, 133, 146, 1);
                            }

                            input {
                                width: 100%;
                                height: 40px;
                                padding: 0 16px;
                                border-radius: 14px;
                                outline: none;
                                background: rgba(255, 255, 255, 1);
                                border: 1px solid rgba(216, 224, 240, 1);
                                box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);
                            }
                        }

                        .business {
                            width: 100%;
                            height: 74px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .name {
                                padding: 0 0 0 10px;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 24px;
                                color: rgba(125, 133, 146, 1);
                            }

                            .select {
                                width: 100%;
                                height: 40px;
                                padding: 0 16px;
                                border-radius: 14px;
                                background: rgba(255, 255, 255, 1);
                                border: 1px solid rgba(216, 224, 240, 1);
                                box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);

                                select {
                                    width: 100%;
                                    height: 100%;
                                    border: none;
                                    outline: none;
                                    color: rgba(125, 133, 146, 1);
                                }
                            }
                        }

                        .team-number {
                            width: 100%;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .name {
                                padding: 0 0 0 10px;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 24px;
                                color: rgba(125, 133, 146, 1);
                            }

                            .list {
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;

                                .item {
                                    flex-shrink: 0;
                                    width: 88px;
                                    height: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    margin-top: 10px;
                                    border-radius: 10px;
                                    background: rgba(255, 255, 255, 1);
                                    border: 1px solid rgba(216, 224, 240, 1);
                                    box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);
                                    font-size: 14px;
                                    font-weight: 400;
                                    letter-spacing: 0px;
                                    color: rgba(125, 133, 146, 1);
                                }

                                .active {
                                    background: rgba(63, 140, 255, 1);
                                    color: rgba(255, 255, 255, 1);
                                }
                            }
                        }
                    }
                }

                footer {
                    width: 100%;
                    height: 70px;
                    padding: 0 20px;
                    border-top: 1px solid rgba(228, 230, 232, 1);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .goback {
                        display: inline-block;
                        width: 132px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        border-radius: 14px;
                        background: rgba(255, 255, 255, 0);
                        box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.1);

                        span {
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0px;
                            color: rgba(63, 140, 255, 1);
                        }

                        .zuo {
                            margin-right: 10px;
                        }
                    }

                    .btn {
                        display: inline-block;
                        width: 160px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        border-radius: 14px;
                        background: rgba(63, 140, 255, 1);
                        box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.26);

                        span {
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }

            // 注册第四页
            .content4 {
                width: 100%;
                height: 100%;
                // display: flex;
                display: none;
                flex-direction: column;

                main {
                    flex: 1;
                    position: relative;

                    .form {
                        width: 403px;
                        position: absolute;
                        left: 50%;
                        top: 10%;
                        transform: translate(-50%, 0);
                        display: flex;
                        flex-direction: column;

                        .title {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .page {
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 20.27px;
                                color: rgba(63, 140, 255, 1);
                            }

                            .tit {
                                font-size: 22px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 31.86px;
                                color: rgba(10, 22, 41, 1);
                            }
                        }

                        .email {
                            width: 100%;
                            height: 74px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .name {
                                padding: 0 0 0 10px;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 24px;
                                color: rgba(125, 133, 146, 1);
                            }

                            input {
                                width: 100%;
                                height: 40px;
                                padding: 0 16px;
                                border-radius: 14px;
                                outline: none;
                                background: rgba(255, 255, 255, 1);
                                border: 1px solid rgba(216, 224, 240, 1);
                                box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);
                            }
                        }

                        .addmember {
                            width: 100%;
                            height: 24px;
                            margin-top: 10px;
                            line-height: 24px;
                            padding: 0 0 0 10px;
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0px;
                            color: rgba(63, 140, 255, 1);

                            .icon {
                                margin-right: 10px;
                                font-size: 14px;
                                font-weight: bold;
                                vertical-align: top;
                            }
                        }
                    }
                }

                footer {
                    width: 100%;
                    height: 70px;
                    padding: 0 20px;
                    border-top: 1px solid rgba(228, 230, 232, 1);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .goback {
                        display: inline-block;
                        width: 132px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        border-radius: 14px;
                        background: rgba(255, 255, 255, 0);
                        box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.1);

                        span {
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0px;
                            color: rgba(63, 140, 255, 1);
                        }

                        .zuo {
                            margin-right: 10px;
                        }
                    }

                    .btn {
                        display: inline-block;
                        width: 160px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        border-radius: 14px;
                        background: rgba(63, 140, 255, 1);
                        box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.26);

                        span {
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }

        .alert {
            position: fixed;
            top: 20px;
            right: 20px;
            bottom: 20px;
            left: 20px;
            border-radius: 24px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img {
                width: 500px;

                img {
                    width: 100%;
                }
            }

            .text {
                margin: 40px 0 20px;
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 0px;
                line-height: 30px;
                color: rgba(10, 22, 41, 1);
            }

            .btn {
                width: 170px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                border-radius: 14px;
                background: rgba(63, 140, 255, 1);
                box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.26);
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0px;
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}