@import '../../pages/variables.less';

.routeList {
    color: @small-text-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .navLink {
        color: @small-text-color;
    }

    .log {
        width: 80%;

    }

    .item {
        width: 100%;
        height: 45px;
        line-height: 45px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            display: inline-block;
            text-decoration: none;
            width: 80%;
            padding: 0 10px;
            height: 100%;

        }

        .sel {
            position: relative;
            color: @primary-color;
            background-color: @bg-color;
            border-radius: 15px;

            &::after {
                content: '';
                position: absolute;
                right: -12%;
                height: 100%;
                /* 高亮颜色 */
                border-right: 5px solid @primary-color;
                border-radius: 10px;
                z-index: 99;
            }
        }
    }
}

.footer {
    width: 100%;
    color: @small-text-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .online {
        width: 80%;
    }

    .outLogin {
        width: 80%;
        padding: 20px 0;
    }
}