.ant-modal-header{
    border: none;
}
.ant-modal-footer{
    border: none;
    
}
.ant-modal-body {
    max-height: 480px;
    overflow-y: auto;
    // &::-webkit-scrollbar {
    //   width: 6px;
    //   /*高宽分别对应横竖滚动条的尺寸*/
    //   height: 1px;
    // }

    .ant-form-item{
        margin-left: 20px;
        width: 90%;
    }
}