@import '../variables.less';

:global {

    ul,
    li,
    p {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #alert-center {
        .center {
            width: 100%;
            height: 40px;
            border-radius: 24px;
            margin-top: 10px;
            background-color: #E6EDF5;
            position: relative;

            div {
                width: 100%;
                height: 100%;
                position: absolute;
                font-size: 16px;
                z-index: 10;
                display: flex;
                justify-content: space-around;
                align-items: center;

                p {
                    width: 100px;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    line-height: 40px;
                }
            }

            .active {
                color: #ffffff;
            }

            .sliding {
                position: absolute;
                left: 0;
                width: 50%;
                height: 98%;
                border-radius: 24px;
                background-color: #3F8CFF;
                z-index: 1;
                transition-property: all;
                transition-duration: 0.2s;
            }

            .sliding-right {
                left: 50%;
            }
        }

    }

    .header {
        margin-top: 27px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            width: 72px;
            height: 45px;
            font-size: 32px;
        }

        .center {
            width: 300px;
            height: 40px;
            border-radius: 24px;
            background-color: #E6EDF5;
            position: relative;

            div {
                width: 100%;
                height: 100%;
                position: absolute;
                font-size: 16px;
                z-index: 10;
                display: flex;
                justify-content: space-around;
                align-items: center;

                p {
                    width: 100px;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    line-height: 40px;
                }
            }

            .active {
                color: #ffffff;
            }

            .sliding {
                position: absolute;
                left: 0;
                width: 50%;
                height: 98%;
                border-radius: 24px;
                background-color: #3F8CFF;
                z-index: 1;
                transition-property: all;
                transition-duration: 0.2s;
            }

            .sliding-right {
                left: 150px;
            }
        }

        button {
            width: 125px;
            height: 40px;
            font-size: 16px;
            background-color: #3F8CFF;
            color: #ffffff;
            border: none;
            border-radius: 10px;
        }
    }

    ul.list_main {
        margin-top: 28px;

        li {
            margin-bottom: 20px;
            height: 74px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 10px;

            .left {
                display: flex;
                margin-left: 28px;

                div {
                    text-align: left;
                    vertical-align: top;
                    font-weight: 400;
                    letter-spacing: 0px;
                    margin-left: 18px;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                p {
                    font-size: 14px;
                    line-height: 24px;
                    color: rgba(10, 22, 41, 1);
                    margin: 0;
                }

                span {
                    font-size: 12px;
                    line-height: 16.41px;
                    color: rgba(145, 146, 158, 1);
                }
            }

            .right {
                display: flex;
                margin-right: 97px;

                .r-item {
                    margin-left: 119;
                    text-align: center;
                    vertical-align: top;
                    font-weight: 400;
                    letter-spacing: 0px;
                    margin-left: 120px;

                    p {
                        margin-bottom: 2px;
                        font-size: 12px;
                        line-height: 20.27px;
                        color: rgba(145, 146, 158, 1);
                    }

                    span {
                        font-size: 14px;
                        line-height: 24px;
                        color: rgba(10, 22, 41, 1);
                    }
                }
            }
        }
    }

    .paging {
        position: absolute;
        bottom: 31px;
        right: 40px;
        width: 179px;
        height: 48px;
        background-color: #ffffff;
        line-height: 48px;
        text-align: center;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(10, 22, 41, 1);

        span {
            margin-right: 5px;
        }

        .next {
            color: rgba(63, 140, 255, 1);
        }

        .previous {
            color: rgba(201, 204, 209, 1);
        }
    }

    .calendarBox {
        background-color: #ffffff;
        border-radius: 20px;
        overflow-y: auto;

        .table_header {
            height: 13.5vh;
            display: flex;
            border-bottom: 1px solid #E6EBF5;

            .left {
                flex-shrink: 0;
                box-sizing: border-box;
                width: 200px;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-right: 1px solid #E6EBF5;
            }

            .right {
                flex: 1;

                .top {
                    box-sizing: border-box;
                    width: 100%;
                    height: 7vh;
                    padding: 0 20px;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;

                    .zuo {
                        color: #C9CCD1;
                        font-size: 24px;
                    }

                    .you {
                        margin-left: 10px;
                        font-size: 24px;
                        color: #3F8CFF;
                    }
                }

                .bottom {
                    display: flex;
                    justify-content: space-evenly;

                    .day {
                        flex-shrink: 0;
                        width: 2.9%;
                        height: 6vh;
                        min-width: 28px;
                        min-height: 44px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #F4F9FD;
                        border-radius: 5px;
                        color: #7D8593;
                        font-size: 13px;
                    }
                }
            }
        }

        .table_main {
            display: flex;

            .left {
                flex-shrink: 0;
                width: 200px;
                border-right: 1px solid #E6EBF5;
                border-bottom: 1px solid #E6EBF5;

                li {
                    box-sizing: border-box;
                    height: 7vh;
                    min-height: 50px;
                    line-height: 7vh;
                    border-bottom: 1px solid #E6EBF5;
                    display: flex;
                    align-items: center;
                    padding-left: 24px;
                }

                li:last-child {
                    border: none;
                }

                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                }
            }

            .right {
                box-sizing: border-box;
                flex: 1;
                border-bottom: 1px solid #E6EBF5;

                li {
                    box-sizing: border-box;
                    display: flex;
                    height: 7vh;
                    min-height: 50px;
                    align-items: center;
                    justify-content: space-evenly;

                    .day {
                        width: 2.95%;
                        height: 6vh;
                        min-width: 28px;
                        min-height: 44px;
                        background-color: #F4F9FD;
                    }
                }
            }
        }

        .table_footer {
            height: 84px;
            display: flex;
            align-items: center;

            .left {
                flex-shrink: 0;
                width: 200px;
                height: 100%;
                border-right: 1px solid #E6EBF5;
            }

            .right {
                flex: 1;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .item {
                    width: 186px;
                    height: 52px;

                    .bottom {
                        display: flex;
                        font-size: 16px;

                        p {
                            font-size: 14px;
                        }

                        .audit {
                            display: flex;
                            align-items: center;

                            div {
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #F65160;
                                margin-right: 10px;
                            }
                        }

                        .audited {
                            display: flex;
                            align-items: center;

                            div {
                                box-sizing: border-box;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                border: 1px solid #F65160;
                                background-color: rgba(246, 81, 96, .12);
                                margin: 0 10px;
                            }
                        }
                    }

                    .remote-control {
                        .audit {
                            div {
                                background-color: #6D5DD3;
                            }
                        }

                        .audited {
                            div {
                                border: 1px solid #6D5DD3;
                                background-color: rgba(109, 93, 211, .12);
                            }
                        }
                    }

                    .change-rest {
                        .audit {
                            div {
                                background-color: #15C0E6;
                            }
                        }

                        .audited {
                            div {
                                border: 1px solid #15C0E6;
                                background-color: rgba(21, 192, 230, .12);
                            }
                        }
                    }
                }
            }
        }
    }
}