@import url(../index.less);

// 按钮
.button{
    padding: 10px 20px;
    border: none;
    border-radius: @radius;
    background-color: rgb(22, 119, 255);
    color: #fff;
    &:hover{
        cursor: pointer;
    }
}

//圆角按钮
.radius{
    border-radius: @max-radius;
}

//按钮禁用后的颜色
.disabled{
    background-color: gray;
    &:hover{
        cursor: not-allowed;
    }    
}
//是否为块级元素
.block{
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

//size大小
.big{
    padding: 15px 25px;
    font-size: 20px;
}
.small{
    padding: 5px 10px;
    font-size: 12px;
}

//type类型
.primary{
    background-color: rgb(22, 119, 255);
}
.success{
    background-color: rgb(0, 181, 120);
}
.danger{
    background-color: rgb(255, 49, 65);
}
.warning{
    background-color: rgb(255, 143, 31);
}
