@import '../variables.less';

.projectBox {
    border: 1px solid #ccc;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    header {
        height: 60px;
        display: flex;
        justify-content: space-between;

        .projectTitle {
            font-size: @font-size-big;
            font-weight: 500;
        }

        .addProject {
            width: 133px;
            height: 48px;
            border-radius: 8px;
            font-size: @font-size-medium;
            color: white;
            background-color: @primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    main {
        height: calc(100% - 60px);
        display: flex;
        justify-content: flex-start;

        // 项目左侧盒子
        .projectMainLeftBox {
            width: 265px;
            height: 100%;
            background-color: white;
            border-radius: @border-size;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            margin-right: 30px;

            .projectMainLeftTitle {
                height: 50px;
                width: 100%;
                font-size: @font-size-medium;
                line-height: 50px;
                border-bottom: 1px solid #ccc;
                padding: 0 16px;
            }

            .projectMainLeftContent {
                flex: 1;
                box-sizing: border-box;
                padding: 5px;
                overflow-y: auto;

                .projectItem {
                    width: 2452px;
                    height: 100px;
                    padding: 0 10px;
                    box-sizing: border-box;

                    .projectId {
                        font-size: @font-size-small;
                        color: @small-text-color;
                    }

                    .projectTitle {
                        font-size: @font-size-medium;
                    }
                }
            }

            .projectMainLeftContent::-webkit-scrollbar {
                display: none;
            }
        }

        // 项目右侧盒子
        .projectMainCenterBox {
            flex: 1;
            box-sizing: border-box;
            overflow: hidden;

            // 项目右侧盒子头部
            header {
                display: flex;
                height: 48px;

                .ProjectContentTitle {
                    width: 88px;
                    line-height: 48px;
                    font-size: @font-size-medium;
                }

                .ProjectContentCenter {
                    flex: 1;
                    display: flex;
                    justify-content: center;

                    div {
                        width: 48px;
                        height: 48px;
                        background-color: white;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 5px;
                    }

                    .active {
                        box-sizing: border-box;
                        border: 1px solid @primary-color;
                        color: @primary-color;
                    }
                }

                .ProjectContentCheck {
                    width: 88px;
                    display: flex;
                    justify-content: center;

                    &>div {
                        width: 48px;
                        height: 48px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        border-radius: 10px;
                    }
                }
            }

            // 项目右侧盒子主体
            .projectContentMain {
                width: 100%;
                box-sizing: border-box;

                .ProjectTypeOne {

                    :global {
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        padding-top: 16px;
                        overflow-y: auto;

                        .ProjectTypeOneTitle {
                            width: 100%;
                            height: 40px;
                            background-color: #E6EDF5;
                            border-radius: @border-size;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .projectTypeOneItem {
                            width: 100%;
                            height: 90px;
                            margin: 10px 0;
                            display: flex;
                            box-sizing: border-box;
                            padding: 0 10px;
                            background-color: white;
                            border-radius: 24px;

                            &>div {
                                width: 130px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                padding: 0 10px;

                                .projectTypeOneItemTitle {
                                    font-size: 14px;
                                    color: #aaa;
                                }

                                .projectTypeOneItemText {
                                    font-size: 18px;
                                }
                            }

                            .projectTypeOneItemName {
                                width: 220px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                padding: 0 10px;

                                .projectTypeOneItemTitle {
                                    font-size: 14px;
                                    color: #aaa;
                                }

                                .projectTypeOneItemText {
                                    font-size: 18px;
                                }
                            }

                            .projectTypeOneItemPerson {
                                .projectTypeOneItemText {
                                    width: 20px;
                                    height: 20px;
                                    background-color: black;
                                    border-radius: 50%;
                                }
                            }

                            .projectTypeOneItemPriority {
                                .yellow {
                                    color: #FFBD21;
                                }

                                .green {
                                    color: #0AC947
                                }

                                .red {
                                    color: red;
                                }
                            }

                            .projectTypeOneItemStatus {
                                .projectTypeOneItemTab {
                                    text-align: center;
                                    padding: 4px 0;
                                    border-radius: 10px;
                                    font-size: 16px;
                                    background-color: #3F8CFF33;
                                    color: #3F8CFF;

                                }
                            }

                            .projectTypeOneItemPlanBox {
                                display: flex;
                                // justify-content: center;
                                align-items: center;

                                .projectTypeOneItemPlan {
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid #ccc;
                                    border-radius: 50%;
                                }
                            }

                        }
                    }
                }

                .ProjectTypeOne::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}