@import '../pages/variables.less';

html,
body {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: @font-family-sans-serif;
}

.layout {
  margin: 0;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: @bg-color;
  display: flex;
  overflow: hidden;

  .navBox {
    width: 200px;
    min-width: 200px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: @border-size;
  }

  .layoutMain {
    flex: 1;
    padding-left: 20px;
    min-width: 1100px;
    box-sizing: border-box;
    background-color: @bg-color;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
    }

    .content {
      flex: 1;
      overflow: hidden;
    }
  }

  .layoutMain::-webkit-scrollbar {
    display: none;
  }
}