.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    :global {
        input {
            width: 30%;
            outline: none;
            background-color: #fff;
            border-radius: 10px;
            border: none;
            height: 35px;
            line-height: 35px;
            text-indent: 2rem;
        }

        .message {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .messList {
                width: 48px;
                height: 35px;
                border-radius: 10px;
                background-color: #fff;
                text-align: center;
                line-height: 35px;
                padding: 0 10px;
            }

            .user {
                margin-left: 10px;
                height: 35px;
                border-radius: 10px;
                background-color: #fff;
                text-align: center;
                line-height: 35px;
                padding: 0 10px;
            }
        }
    }
}