@import '../variables.less';

.my-mixin() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-bottom: 1rem;
    padding: 1rem;

    .work {
        font-size: @font-size-medium;
        color: #0A1629;
        font-weight: 500;
    }

    span {
        color: @primary-color;
        font-size: 0.6rem;
    }
}

.dashboard {


    .view {
        overflow: hidden;
        overflow-y: auto;
        height: calc(100vh - 123px);

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .useMessage {
        width: 100%;
        padding: 0.4rem 0;
        color: #7D8592;
        font-size: @font-size-small;
    }

    .dashboardList {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;

        .p {
            font-size: @font-size-big;
        }

        // .timing{

        // }
    }

    .list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        .workload {
            padding: 0.2rem 0.8rem;
            width: 50rem;
            background-color: #fff;
            border-radius: @border-size;

            .head {
                .my-mixin()
            }

            .showList {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .item {
                    width: 24%;
                    background-color: @bg-color;
                    display: flex;
                    flex-direction: column;
                    padding: 0.6rem;
                    align-items: center;
                    border-radius: @border-size;
                    margin-bottom: 0.7rem;

                    img {
                        width: 4.5rem;
                        height: 4.5rem;
                        border-radius: @bg-color;
                        margin: 0.5rem 0;
                    }

                    p {
                        font-size: @font-size-small;
                        padding-bottom: 0.2rem;
                    }

                    span {
                        padding: 0rem 0.7rem;
                        color: @small-text-color;
                        border: 1px solid @small-text-color;
                        border-radius: 0.5rem;
                        margin: 0.5rem 0;
                    }
                }
            }
        }

        .recentEvents {
            padding: 0.2rem 0.8rem;
            width: 28rem;
            background-color: #fff;
            border-radius: @border-size;

            .head {
                .my-mixin();
            }

            .EventsList {
                padding: 0.5rem;
                border-left: 3px solid @primary-color;
                margin-bottom: 2rem;

                .item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .content,
                    .data {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 0.5rem;
                    }

                    .data {
                        padding-bottom: 0rem;
                    }

                    .date {
                        color: @small-text-color;
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }

    .projectList {
        display: flex;
        justify-content: space-between;

        .workload {
            width: 50rem;

            .head {
                .my-mixin()
            }

            .showList {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;

                .item {
                    width: 100%;
                    background-color: #fff;
                    border-radius: @border-size;
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: center;

                    .left {
                        width: 50%;
                        padding: 1rem;
                        border-right: 2px solid #f3f4f5;

                        .show {
                            display: flex;

                            img {
                                margin-right: 1rem;
                            }

                            div {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                span {
                                    color: @small-text-color;
                                    font-size: @font-size-small;
                                }

                                p {
                                    color: @Text-description;
                                    font-size: @font-size-medium;
                                }
                            }

                        }

                        .startData {
                            padding-top: 1rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            div {
                                display: flex;
                                align-items: center;
                            }

                            div:nth-child(2n+1) {
                                color: @small-text-color;
                                font-size: @font-size-small;
                            }

                            div:nth-child(2n) {
                                color: #FFBD21;
                                font-size: @font-size-small;
                            }
                        }
                    }

                    .right {
                        padding: 1rem;
                        height: 100%;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        box-sizing: border-box;

                        p {

                            color: @Text-description;
                            font-size: @font-size-medium;
                        }

                        .task {

                            // padding: 0.5rem 0;
                            display: flex;
                            justify-content: space-evenly;

                            .item {
                                flex-wrap: wrap;
                                margin-bottom: 0;

                                span {
                                    width: 100%;
                                    color: @small-text-color;
                                    font-size: @font-size-small;
                                }
                            }
                        }
                    }
                }
            }
        }

        .recentEvents {
            position: relative;
            padding: 0.2rem 0.8rem;
            width: 28rem;
            background-color: #fff;
            border-radius: @border-size;

            .head {
                .my-mixin();
            }

            .message {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-sizing: border-box;

                .user {
                    display: flex;
                    align-items: center;
                    padding-bottom: 0.8rem;
                    margin-top: 0.5rem;

                    div {
                        padding-left: 1rem;
                    }

                    p {
                        font-size: @font-size-medium;
                        color: @title-color;
                        font-weight: 700;
                    }

                    span {
                        color: @small-text-color;
                        font-size: @font-size-small;
                    }
                }

                .itemList {
                    display: flex;
                    box-sizing: border-box;
                    padding: 0.8rem;
                    background-color: @bg-color;
                    border-radius: @border-size;
                    margin-bottom: 1rem;

                    img {
                        text-align: center;
                        margin-left: 2%;
                        margin-right: 1.7rem;
                    }
                }
            }

            .tip {
                // width: 100%;
                box-sizing: border-box;
                // text-align: center;
                position: absolute;
                bottom: 1rem;
                color: @primary-color;
                font-size: @font-size-small;
            }

        }
    }
}